  {% extends "base/base.html" %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">




    <title>Document</title>
</head>
<body>

{% block base %}
        <div class="text-end"><a href="{% url 'home-page' %}">Home</a></div>
{% if request.user.id %}
<p>Welcome, your email {{ request.user }} is recognized</p>
    <p>You can access your account through
     <a href="{% url 'view-edit' user_id=request.user.id%}">here</a>
 </p>
    {% endif %}
    <p></p>
    <h3 class="text-center">List of Your Recipes:</h3>
{%  for recipe in my_recipes %}
    <div class="text-center">
        <a href="{% url 'view-recipe' recipe.user_id recipe.slug %}"> {{ recipe.recipe_title}}</a>
    <p></p>
      </div>
{% endfor %}

{% endblock %}

</body>
</html>