<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

{% block content %}

<div>
    <p>{{ recipe.recipe_title }}</p>
    <p>{{ recipe.description}}</p>
   </div>




 <a href="{% url 'edit-recipe' recipe.user_id recipe.slug %}">edit</a>
     <a href="{% url 'delete-recipe' recipe.user_id recipe.slug %}">Delete</a>

{% endblock %}
</body>
</html>