  {% extends "base/base.html" %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

{% block base %}
        <div class="text-end"><a href="{% url 'home-page' %}">Home</a></div>

{#This is a test#}
{##}
{#{{ request.user }}#}
{#This is {{ object_list.pk }}#}
{##}
{#{{ verification.id }}#}
{##}
{#{{ verification.email }}#}
{##}
{#{{ other_data.first_name }}#}
{##}
{#{{ other_data.unique_username }}#}

    <h3 class="text-center"> Your Profile Page </h3>

    <p class="text-center"><a href="{% url 'edit-email' pk=request.user.id %}">Change my email {{ request.user }} </a></p>

    <table  class="table" style="width: 50%; margin: 0 auto;">

              <tbody>
              <tr>
                    <td class="text-center fw-bold">First Name </td>
              </tr>
              <tr>
                    <td class="text-center">{{ other_data.first_name }}</td>
              </tr>
              <tr>
                  <td class="text-center fw-bold">Second Name</td>

              </tr>

              <tr>
                    <td class="text-center">{{ other_data.second_name }}</td>
              </tr>
              <tr>
                  <td class="text-center fw-bold">Unique username</td>

              </tr>

              <tr>
                  <td class="text-center">{{ other_data.unique_username}}</td>

              </tr>

              </tbody>
            </table>


    <p class="text-center"> <a href="{% url 'edit-profile-page' pk=request.user.id %}">Edit</a> </p>
   <p></p>
    <p class="text-center"><a href="{% url 'delete-account' pk=request.user.id %}">Delete Account</a></p>
    <p></p>
    <p class="text-center"><a href="{% url 'list-of-my-recipes' user_id=request.user.id %}">List of my recipes</a></p>

{% endblock %}

</body>
</html>