<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

This is a test

{{ request.user }}
This is {{ object_list.pk }}

{{ verification.id }}

{{ verification.email }}

{{ other_data.first_name }}

{{ other_data.unique_username }}

<a href="{% url 'list-of-my-recipes' user_id=request.user.id %}">List of my recipes</a>

 <a href="{% url 'edit-profile-page' pk=request.user.id %}">edit</a>
<a href="{% url 'delete-account' pk=request.user.id %}">Delete</a>

</body>
</html>